$darkBlue: #213F7D;
$skyeBlue: #39CDCC;
$primaryBlue: #545F7D;
$accentBlue: rgba(84, 95, 125, 0.15);
$statusYellow: rgb(233, 178, 0);
$statusRed: rgb(228, 3, 59);
$statusGreen: rgb(57, 205, 98);
$mellowBlue: rgba(84, 95, 125, .06);
$mellowYellow: rgba(233, 178, 0, .06);
$mellowRed: rgba(228, 3, 59, .06);
$mellowGreen: rgba(57, 205, 98, .06);
$tablet: 712px;
$desktop: 956px;

@mixin vertical-flex {
  display: flex;
  flex-direction: column;
}

@mixin normal-flex {
  display: flex;
  align-items: center;
}

@mixin center-content {
  display: grid;
  place-items: center;
}

@mixin grid-row-2 {
  @include center-content;
  grid-template-rows: repeat(2, 1fr);
}

@mixin transition-ease {
  transition: all .5s ease-in-out;
}

@mixin box-shadow {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}

@mixin thin-border {
  border: 1px solid rgba(33, 63, 125, 0.06);
}

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}