@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import 'reset', 'config', 'login', 'header';

body {
  font: 400 1rem/1.15 "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: $primaryBlue;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}